<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<body>
<div style="background-color:lightblue" align="center">
<img src=' {{ url[0] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[1] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[2] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[3] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;"></br>
<img src=' {{ url[4] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[5] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[6] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[7] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;"></br>
<img src=' {{ url[8] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[9] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[10] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[11] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;"></br>
<img src=' {{ url[12] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[13] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[14] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;">
<img src=' {{ url[15] }}'  onclick=clic(this) alt="Girl in a jacket" style="width:50px;height:50px;"></br>
</br>
</div>

</body>

<script type="text/javascript">
function clic(img) {
var url=img.src;
  axios.post('/login/check2', {url}).then(response => {
          console.log(response.data);
          if(response.data=="ok")
          {
            alert("login successful");
            window.location.replace("http://127.0.0.1:5000/final")
          }
       })

  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='js/axios.js') }}"></script>

</html>
